{% extends 'shared/layout.html' %}
<head>
    {% block title %}
    <title>Taco Boy Grand Rapids</title>
    {% endblock %}
    {% block extracss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    {% endblock %}
</head>

{% block maincontent %}
<!-- Home Section -->
<section id="home" class="home">
    <div class="container">
        <h2>Taco Boy in Grand Rapids, Michigan!</h2>
        <p>Come try our tacos and burritos, a staple of Grand Rapids since 1967.</p>
    </div>
</section>
{% endblock %}