{% extends 'shared/layout.html' %}
<head>
    {% block title %}
    <title>Taco Boy Grand Rapids</title>
    {% endblock %}
    {% block extracss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    {% endblock %}
</head>

{% block maincontent %}
<!-- Home Section -->
<section id="home" class="home">
    <div class="container">
        <h2>Bold Flavors, Warm Hospitality</h2>
        <p>Enjoy our signature Tex-Mex dishes, made with love and tradition.</p>
        <button href="{{ url_for('menu_page') }}">View Our Menu</button>
    </div>
</section>
{% endblock %}