{% extends 'shared/layout.html' %}

<head>
    {% block title %}
    <title>Menu</title>
    {% endblock %}
    {% block extracss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    {% endblock %}
</head>

{% block maincontent %}
<section id="menu" class="menu">
    <div class="container">
        <h2>View the Taco Boy menu on our Google business page!</h2>
        <p>
            <a href="https://g.co/kgs/niHQsGm" target="_blank" rel="noopener" class="menu-view-button">
            View Our Menu
            </a>
        </p>
    </div>
</section>
{% endblock %}