{% extends 'shared/layout.html' %}

<head>
    {% block title %}
    <title>Menu</title>
    {% endblock %}
    {% block extracss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    {% endblock %}
</head>


{% block maincontent %}
<section id="menu" class="menu">
    <div class="container">
        <h2>Our Menu</h2>
        <div class="menu-items">
            <div class="menu-category">
                <h3>Tacos</h3>
                <div>Taco 2.98</div>
                <div>Chicken Taco 3.49</div>


            </div>
            <div class="menu-category">
                <h3>Enchiladas</h3>
                <div>Beef Enchilada</div> 
                <div>Cheese Enchilada</div>
                <div>Chicken Enchilada</div>
                <div>Green Enchilada</div>

            </div>
            <div class="menu-category">
                <h3>Tamales</h3>
                <p>Pepsi Products</p>
            </div>
            <div class="menu-category">
                <h3>Salads</h3>
                <p>Taco Salad Bowl</p>
            </div>
            <div class="menu-category">
                <h3>Chips and Dips</h3>
                <p>Pepsi Products</p>
            </div>
            <div class="menu-category">
                <h3>Wet Burritos</h3>
                <div>Mini Wet All Mt Burrito $10.99</div>
                <div>Mini Wet Chx Burrito $10.99</div>
                <div>Mini Wet Chx w/ Beans Burrito $10.77</div>
                <div>Mini Wet Grn All Mt $12.31</div>
                <div>Mini Wet Grn Mt & Bn Burrito $11.82</div>
                <div>Mini Wet Mt & Bn Burrito $10.89</div>
                <div>Mini Wet Rd All Mt Burrito $12.31</div>
                <div>Mini Wet Rd Mt & Bean Burrito $11.82</div>
                <div>Mini Wet Veg Burrito $8.95</div>
                <div>Sup Wet All Mt Burrito $11.99</div>
                <div>Sup Wet Grn All Mt Burrito $13.85</div>
                <div>Sup Wet Grn Mt & Bn $13.63</div>
                <div>Sup Wet Mt & Bn $11.75</div>
                <div>Sup Wet Red Mt & Bean $13.63</div>
                <div>Super Wet Chx AM Burrito $11.75</div>
                <div>Super Wet Chx & Bean Burrito $11.69</div>
                <div>Super Wet Red All Mt Burrito $13.85</div>
                <div>Super Wet Veg Burrito $10.95</div>
                <div>Super Wet Veg W/ Rice Burrito $10.95</div>
            </div>
            <div class="menu-category">
                <h3>Dry Burritos</h3>
                <p>
                    Taco Meat Burrito	$6.99
                    Taco Meat & Bean Burrito	$6.99
                    Super Dry Veggie Burrito	$6.99
                    Super Dry Veggie w/ Rice Burrito	$6.99

                    Chicken All Meat Burrito	$7.59 
                    Chicken & Bean Burrito	$6.97 
                    Green All Meat	$7.45 
                    Green Meat & Bean Burrito	$6.99 


                </p>
            </div>
            <div class="menu-category">
                <h3>Meal Deals</h3>
                #4 - Two Tacos + Side + Drink	$9.95 
                    #5 - Taco Salad Bowl + Drink	$10.99 
                    #5 - Taco Salad w/ Chips + Drink	$10.89 
                    #6 - Taco Meat Burrito + Side + Drink	$10.99 
                    #7 - Mini Wet Burrito + Drink	$12.95 
            </div>
            <div class="menu-category">
                <h3>Dinners</h3>

                Chicken Taco Dinner	$14.72 

            </div>
            <div class="menu-category">
                <h3>Kids Menu</h3>
                <p>Pepsi Products</p>
            </div>
            <div class="menu-category">
                <h3>Drinks</h3>
                <div>16oz Drink	$2.56</div>
                    <div>20oz Drink	$2.57</div>
                    <div>32oz Drink	$2.91</div>
                    <div>Bottled Soft Drink	$2.75</div> 
                    <div>Bottled Water $2.49</div> 
                    <div>Celsius $2.78</div> 
                    
            </div>
            
            <div class="menu-category">
                <h3></h3>
                <p>Pepsi Products</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}