{% extends 'shared/layout.html' %}

<head>
    {% block title %}
    <title>Menu</title>
    {% endblock %}
    {% block extracss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    {% endblock %}
</head>


{% block maincontent %}
<section id="menu" class="menu">
    <div class="container">
        <h2>Our Menu</h2>
        <div class="menu-items">
            <div class="menu-category">
                <h3>Tacos</h3>
                <p>Pepsi Products</p>
            </div>
            <div class="menu-category">
                <h3>Enchiladas</h3>
                <p>Pepsi Products</p>
            </div>
            <div class="menu-category">
                <h3>Tamales</h3>
                <p>Pepsi Products</p>
            </div>
            <div class="menu-category">
                <h3>Salads</h3>
                <p>Pepsi Products</p>
            </div>
            <div class="menu-category">
                <h3>Chips and Dips</h3>
                <p>Pepsi Products</p>
            </div>
            <div class="menu-category">
                <h3>Wet Burritos</h3>
                <p>Mini Wet All Mt Burrito	$10.99 
                    Mini Wet Chx Burrito	$10.99 
                    Mini Wet Chx w/ Beans Burrito	$10.77 
                    Mini Wet Grn All Mt	$12.31 
                    Mini Wet Grn Mt & Bn Burrito	$11.82 
                    Mini Wet Mt & Bn Burrito	$10.89 
                    Mini Wet Rd All Mt Burrito	$12.31 
                    Mini Wet Rd Mt & Bean Burrito	$11.82 
                    Mini Wet Veg Burrito	$8.95
                    Sup Wet All Mt Burrito	$11.99 
                    Sup Wet Grn All Mt Burrito	$13.85 
                    Sup Wet Grn Mt & Bn	$13.63 
                    Sup Wet Mt & Bn	$11.75 
                    Sup Wet Red Mt & Bean	$13.63 
                    Super Wet Chx AM Burrito	$11.75 
                    Super Wet Chx & Bean Burrito	$11.69 
                    Super Wet Red All Mt Burrito	$13.85 
                    Super Wet Veg Burrito	$10.95 
                    Super Wet Veg W/ Rice Burrito	$10.95 
                </p>
            </div>
            <div class="menu-category">
                <h3>Dry Burritos</h3>
                <p>Chicken All Meat	$7.59 
                    Chicken & Bean Burrito	$6.97 
                    Green All Meat	$7.45 
                    Green Meat & Bean Burrito	$6.99 

                </p>
            </div>
            <div class="menu-category">
                <h3>Meal Deals</h3>
                <p>#4 - Two Tacos + Side + Drink	$9.95 
                    #5 - Taco Salad Bowl + Drink	$10.99 
                    #5 - Taco Salad w/ Chips + Drink	$10.89 
                    #6 - Taco Meat Burrito + Side + Drink	$10.99 
                    #7 - Mini Wet Burrito + Drink	$12.95 
</p>
            </div>
            <div class="menu-category">
                <h3>Dinners</h3>
                <p>
                    
                    Chicken Taco Dinner	$14.72 
                </p>
            </div>
            <div class="menu-category">
                <h3>Kids Menu</h3>
                <p>Pepsi Products</p>
            </div>
            <div class="menu-category">
                <h3>Drinks</h3>
                <p>16oz Drink	$2.56 
                    20oz Drink	$2.57 
                    32oz Drink	$2.91
                    Bottled Soft Drink Plastic	$2.75 
                    Bottled Water	$2.49 
                    Celsius	$2.78 
                    
                </p>
            </div>
            
            <div class="menu-category">
                <h3></h3>
                <p>Pepsi Products</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}